.dark {
    --ui-background: var(--color-gray-950);
    --ui-foreground: var(--color-gray-200);
}

:root {
    --color-primary-50: 239 253 245;
    --color-primary-100: 217 251 232;
    --color-primary-200: 179 245 209;
    --color-primary-300: 117 237 174;
    --color-primary-400: 0 220 130;
    --color-primary-500: 0 193 106;
    --color-primary-600: 0 161 85;
    --color-primary-700: 0 127 69;
    --color-primary-800: 1 101 56;
    --color-primary-900: 10 83 49;
    --color-primary-950: 5 46 22;
    --color-primary-DEFAULT: var(--color-primary-500);
    --color-gray-50: 248 250 252;
    --color-gray-100: 241 245 249;
    --color-gray-200: 226 232 240;
    --color-gray-300: 203 213 225;
    --color-gray-400: 148 163 184;
    --color-gray-500: 100 116 139;
    --color-gray-600: 71 85 105;
    --color-gray-700: 51 65 85;
    --color-gray-800: 30 41 59;
    --color-gray-900: 15 23 42;
    --color-gray-950: 2 4 32;

    --header-height: 4rem;

    --color-light: #00C16A;
    --color-dark: #00DC82;

}



.prose {
    color: var(--tw-prose-body);
    max-width: 65ch
}

.prose :where(p):not(:where([class~=not-prose],[class~=not-prose] *)) {
    margin-bottom: 1.25em;
    margin-top: 1.25em
}

.prose :where([class~=lead]):not(:where([class~=not-prose],[class~=not-prose] *)) {
    color: var(--tw-prose-lead);
    font-size: 1.25em;
    line-height: 1.6;
    margin-bottom: 1.2em;
    margin-top: 1.2em
}

.prose :where(a):not(:where([class~=not-prose],[class~=not-prose] *)) {
    border-bottom: 1px solid #0000;
    color: var(--tw-prose-links);
    font-weight: 500;
    text-decoration: none
}

.prose :where(a strong):not(:where([class~=not-prose],[class~=not-prose] *)) {
    color: inherit
}

.prose :where(blockquote strong):not(:where([class~=not-prose],[class~=not-prose] *)) {
    color: inherit
}

.prose :where(thead th strong):not(:where([class~=not-prose],[class~=not-prose] *)) {
    color: inherit
}

.prose :where(ol):not(:where([class~=not-prose],[class~=not-prose] *)) {
    list-style-type: decimal;
    margin-bottom: 1.25em;
    margin-top: 1.25em;
    padding-inline-start:1.625em}

.prose :where(ol[type=A]):not(:where([class~=not-prose],[class~=not-prose] *)) {
    list-style-type: upper-alpha
}

.prose :where(ol[type=a]):not(:where([class~=not-prose],[class~=not-prose] *)) {
    list-style-type: lower-alpha
}

.prose :where(ol[type="A s"]):not(:where([class~=not-prose],[class~=not-prose] *)) {
    list-style-type: upper-alpha
}

.prose :where(ol[type="a s"]):not(:where([class~=not-prose],[class~=not-prose] *)) {
    list-style-type: lower-alpha
}

.prose :where(ol[type=I]):not(:where([class~=not-prose],[class~=not-prose] *)) {
    list-style-type: upper-roman
}

.prose :where(ol[type=i]):not(:where([class~=not-prose],[class~=not-prose] *)) {
    list-style-type: lower-roman
}

.prose :where(ol[type="I s"]):not(:where([class~=not-prose],[class~=not-prose] *)) {
    list-style-type: upper-roman
}

.prose :where(ol[type="i s"]):not(:where([class~=not-prose],[class~=not-prose] *)) {
    list-style-type: lower-roman
}

.prose :where(ol[type="1"]):not(:where([class~=not-prose],[class~=not-prose] *)) {
    list-style-type: decimal
}

.prose :where(ul):not(:where([class~=not-prose],[class~=not-prose] *)) {
    list-style-type: disc;
    margin-bottom: 1.25em;
    margin-top: 1.25em;
    padding-inline-start:1.625em}

.prose :where(ol>li):not(:where([class~=not-prose],[class~=not-prose] *))::marker {
    color: var(--tw-prose-counters);
    font-weight: 400
}

.prose :where(ul>li):not(:where([class~=not-prose],[class~=not-prose] *))::marker {
    color: var(--tw-prose-bullets)
}

.prose :where(dt):not(:where([class~=not-prose],[class~=not-prose] *)) {
    color: var(--tw-prose-headings);
    font-weight: 600;
    margin-top: 1.25em
}

.prose :where(hr):not(:where([class~=not-prose],[class~=not-prose] *)) {
    border-color: var(--tw-prose-hr);
    border-top-width: 1px;
    margin-bottom: 3em;
    margin-top: 3em
}

.prose :where(blockquote):not(:where([class~=not-prose],[class~=not-prose] *)) {
    border-inline-start-color:var(--tw-prose-quote-borders);border-inline-start-width: .25rem;
    color: var(--tw-prose-quotes);
    font-style: italic;
    font-weight: 500;
    margin-bottom: 1.6em;
    margin-top: 1.6em;
    padding-inline-start:1em;quotes: "\201C""\201D""\2018""\2019"
}

.prose :where(h1):not(:where([class~=not-prose],[class~=not-prose] *)) {
    color: var(--tw-prose-headings);
    font-size: 2.25em;
    font-weight: 800;
    line-height: 1.1111111;
    margin-bottom: .8888889em;
    margin-top: 0
}

.prose :where(h1 strong):not(:where([class~=not-prose],[class~=not-prose] *)) {
    color: inherit;
    font-weight: 900
}

.prose :where(h2):not(:where([class~=not-prose],[class~=not-prose] *)) {
    color: var(--tw-prose-headings);
    font-size: 1.5em;
    font-weight: 700;
    line-height: 1.3333333;
    margin-bottom: 1em;
    margin-top: 2em
}

.prose :where(h2 strong):not(:where([class~=not-prose],[class~=not-prose] *)) {
    color: inherit;
    font-weight: 800
}

.prose :where(h3):not(:where([class~=not-prose],[class~=not-prose] *)) {
    color: var(--tw-prose-headings);
    font-size: 1.25em;
    font-weight: 600;
    line-height: 1.6;
    margin-bottom: .6em;
    margin-top: 1.6em
}

.prose :where(h3 strong):not(:where([class~=not-prose],[class~=not-prose] *)) {
    color: inherit;
    font-weight: 700
}

.prose :where(h4):not(:where([class~=not-prose],[class~=not-prose] *)) {
    color: var(--tw-prose-headings);
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: .5em;
    margin-top: 1.5em
}

.prose :where(h4 strong):not(:where([class~=not-prose],[class~=not-prose] *)) {
    color: inherit;
    font-weight: 700
}

.prose :where(img):not(:where([class~=not-prose],[class~=not-prose] *)) {
    margin-bottom: 2em;
    margin-top: 2em
}

.prose :where(picture):not(:where([class~=not-prose],[class~=not-prose] *)) {
    display: block;
    margin-bottom: 2em;
    margin-top: 2em
}

.prose :where(video):not(:where([class~=not-prose],[class~=not-prose] *)) {
    margin-bottom: 2em;
    margin-top: 2em
}

.prose :where(kbd):not(:where([class~=not-prose],[class~=not-prose] *)) {
    border-radius: .3125rem;
    box-shadow: 0 0 0 1px rgb(var(--tw-prose-kbd-shadows)/10%),0 3px 0 rgb(var(--tw-prose-kbd-shadows)/10%);
    color: var(--tw-prose-kbd);
    font-family: inherit;
    font-size: .875em;
    font-weight: 500;
    padding-inline-end:.375em;padding-bottom: .1875em;
    padding-top: .1875em;
    padding-inline-start:.375em;
}

.prose :where(code):not(:where([class~=not-prose],[class~=not-prose] *)) {
    background-color: var(--tw-prose-pre-bg);
    border: 1px solid var(--tw-prose-pre-border);
    border-radius: .375rem;
    color: var(--tw-prose-code);
    display: inline-block;
    font-size: .875em;
    font-weight: 600;
    padding: 0 .375rem;
    line-height: 1.3;
    margin: 0 2px;
    font-family: "Nanum Gothic", "Noto Sans KR", serif, -apple-system, BlinkMacSystemFont;
}
.prose :where(code):not(:where([class~="not-prose"],[class~="not-prose"] *))::after {
    content: "";
}

.prose :where(code):not(:where([class~="not-prose"],[class~="not-prose"] *))::before {
    content: "";
}

.prose :where(a code):not(:where([class~=not-prose],[class~=not-prose] *)) {
    border: 1px dashed var(--tw-prose-pre-border);
    color: var(--tw-prose-code)
}

.prose :where(h1 code):not(:where([class~=not-prose],[class~=not-prose] *)) {
    color: inherit
}

.prose :where(h2 code):not(:where([class~=not-prose],[class~=not-prose] *)) {
    color: inherit;
    font-size: .875em
}

.prose :where(h3 code):not(:where([class~=not-prose],[class~=not-prose] *)) {
    color: inherit;
    font-size: .9em
}

.prose :where(h4 code):not(:where([class~=not-prose],[class~=not-prose] *)) {
    color: inherit
}

.prose :where(blockquote code):not(:where([class~=not-prose],[class~=not-prose] *)) {
    color: inherit
}

.prose :where(thead th code):not(:where([class~=not-prose],[class~=not-prose] *)) {
    color: inherit
}

.prose :where(pre):not(:where([class~=not-prose],[class~=not-prose] *)) {
    background-color: var(--tw-prose-pre-bg)!important;
    border: 1px solid var(--tw-prose-pre-border);
    border-radius: .375rem;
    color: var(--tw-prose-pre-code)!important;
    font-size: .875em;
    font-weight: 400;
    line-height: 1.7142857;
    margin-bottom: 1.7142857em;
    margin-top: 1.7142857em;
    overflow-x: auto;
    padding-inline-end:1.1428571em;padding-bottom: .8571429em;
    padding-top: .8571429em;
    padding-inline-start:1.1428571em;white-space: pre-wrap;
    word-break: break-word
}

.prose :where(pre.mermaid):not(:where([class~=not-prose],[class~=not-prose] *)) {
    border: none;
}

.prose :where(pre code):not(:where([class~=not-prose],[class~=not-prose] *)) {
    background-color: initial;
    border-radius: 0;
    border-width: 0;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    padding: 0
}

.prose :where(pre code):not(:where([class~=not-prose],[class~=not-prose] *)):before {
    content: none
}

.prose :where(pre code):not(:where([class~=not-prose],[class~=not-prose] *)):after {
    content: none
}

.prose :where(table):not(:where([class~=not-prose],[class~=not-prose] *)) {
    display: block;
    font-size: .875em;
    line-height: 1.7142857;
    margin-bottom: 2em;
    margin-top: 2em;
    overflow-x: auto;
    table-layout: auto;
}

.prose :where(thead):not(:where([class~=not-prose],[class~=not-prose] *)) {
    border-bottom-color: var(--tw-prose-th-borders);
    border-bottom-width: 1px
}

.prose :where(thead th):not(:where([class~=not-prose],[class~=not-prose] *)) {
    color: var(--tw-prose-headings);
    font-weight: 600;
    padding-inline-end:.5714286em;padding-bottom: .5714286em;
    padding-inline-start:.5714286em;vertical-align: bottom
}

.prose :where(tbody tr):not(:where([class~=not-prose],[class~=not-prose] *)) {
    border-bottom-color: var(--tw-prose-td-borders);
    border-bottom-width: 1px
}

.prose :where(tbody tr:last-child):not(:where([class~=not-prose],[class~=not-prose] *)) {
    border-bottom-width: 0
}

.prose :where(tbody td):not(:where([class~=not-prose],[class~=not-prose] *)) {
    vertical-align: initial
}

.prose :where(tfoot):not(:where([class~=not-prose],[class~=not-prose] *)) {
    border-top-color: var(--tw-prose-th-borders);
    border-top-width: 1px
}

.prose :where(tfoot td):not(:where([class~=not-prose],[class~=not-prose] *)) {
    vertical-align: top
}

.prose :where(th,td):not(:where([class~=not-prose],[class~=not-prose] *)) {
    text-align: start
}

.prose :where(figure>*):not(:where([class~=not-prose],[class~=not-prose] *)) {
    margin-bottom: 0;
    margin-top: 0
}

.prose :where(figcaption):not(:where([class~=not-prose],[class~=not-prose] *)) {
    color: var(--tw-prose-captions);
    font-size: .875em;
    line-height: 1.4285714;
    margin-top: .8571429em
}

.prose :where(caption):not(:where([class~=not-prose],[class~=not-prose] *)) {
    color: var(--tw-prose-captions);
    font-size: .875em;
    line-height: 1.4285714;
    margin-top: .8571429em;
    caption-side: bottom;
}

.prose {
    --tw-prose-body: #374151;
    --tw-prose-headings: #111827;
    --tw-prose-lead: #4b5563;
    --tw-prose-links: #111827;
    --tw-prose-bold: #111827;
    --tw-prose-counters: #6b7280;
    --tw-prose-bullets: #d1d5db;
    --tw-prose-hr: #e5e7eb;
    --tw-prose-quotes: #111827;
    --tw-prose-quote-borders: #e5e7eb;
    --tw-prose-captions: #6b7280;
    --tw-prose-kbd: #111827;
    --tw-prose-kbd-shadows: 17 24 39;
    --tw-prose-code: #111827;
    --tw-prose-pre-code: #e5e7eb;
    --tw-prose-pre-bg: #1f2937;
    --tw-prose-th-borders: #d1d5db;
    --tw-prose-td-borders: #e5e7eb;
    --tw-prose-invert-body: #d1d5db;
    --tw-prose-invert-headings: #fff;
    --tw-prose-invert-lead: #9ca3af;
    --tw-prose-invert-links: #fff;
    --tw-prose-invert-bold: #fff;
    --tw-prose-invert-counters: #9ca3af;
    --tw-prose-invert-bullets: #4b5563;
    --tw-prose-invert-hr: #374151;
    --tw-prose-invert-quotes: #f3f4f6;
    --tw-prose-invert-quote-borders: #374151;
    --tw-prose-invert-captions: #9ca3af;
    --tw-prose-invert-kbd: #fff;
    --tw-prose-invert-kbd-shadows: 255 255 255;
    --tw-prose-invert-code: #fff;
    --tw-prose-invert-pre-code: #d1d5db;
    --tw-prose-invert-pre-bg: #00000080;
    --tw-prose-invert-th-borders: #4b5563;
    --tw-prose-invert-td-borders: #374151;
    font-size: 1rem;
    line-height: 1.75
}

.prose :where(picture>img):not(:where([class~=not-prose],[class~=not-prose] *)) {
    margin-bottom: 0;
    margin-top: 0
}

.prose :where(li):not(:where([class~=not-prose],[class~=not-prose] *)) {
    margin-bottom: .5em;
    margin-top: .5em
}

.prose :where(ol>li):not(:where([class~=not-prose],[class~=not-prose] *)) {
    padding-inline-start:.375em}

.prose :where(ul>li):not(:where([class~=not-prose],[class~=not-prose] *)) {
    padding-inline-start:.375em}

.prose :where(.prose>ul>li p):not(:where([class~=not-prose],[class~=not-prose] *)) {
    margin-bottom: .75em;
    margin-top: .75em
}

.prose :where(.prose>ul>li>p:first-child):not(:where([class~=not-prose],[class~=not-prose] *)) {
    margin-top: 1.25em
}

.prose :where(.prose>ul>li>p:last-child):not(:where([class~=not-prose],[class~=not-prose] *)) {
    margin-bottom: 1.25em
}

.prose :where(.prose>ol>li>p:first-child):not(:where([class~=not-prose],[class~=not-prose] *)) {
    margin-top: 1.25em
}

.prose :where(.prose>ol>li>p:last-child):not(:where([class~=not-prose],[class~=not-prose] *)) {
    margin-bottom: 1.25em
}

.prose :where(ul ul,ul ol,ol ul,ol ol):not(:where([class~=not-prose],[class~=not-prose] *)) {
    margin-bottom: .75em;
    margin-top: .75em
}

.prose :where(dl):not(:where([class~=not-prose],[class~=not-prose] *)) {
    margin-bottom: 1.25em;
    margin-top: 1.25em
}

.prose :where(dd):not(:where([class~=not-prose],[class~=not-prose] *)) {
    margin-top: .5em;
    padding-inline-start:1.625em}

.prose :where(hr+*):not(:where([class~=not-prose],[class~=not-prose] *)) {
    margin-top: 0
}

.prose :where(h2+*):not(:where([class~=not-prose],[class~=not-prose] *)) {
    margin-top: 0
}

.prose :where(h3+*):not(:where([class~=not-prose],[class~=not-prose] *)) {
    margin-top: 0
}

.prose :where(h4+*):not(:where([class~=not-prose],[class~=not-prose] *)) {
    margin-top: 0
}

.prose :where(thead th:first-child):not(:where([class~=not-prose],[class~=not-prose] *)) {
    padding-inline-start:0}

.prose :where(thead th:last-child):not(:where([class~=not-prose],[class~=not-prose] *)) {
    padding-inline-end:0}

.prose :where(tbody td,tfoot td):not(:where([class~=not-prose],[class~=not-prose] *)) {
    padding-inline-end:.5714286em;padding-bottom: .5714286em;
    padding-top: .5714286em;
    padding-inline-start:.5714286em}

.prose :where(tbody td:first-child,tfoot td:first-child):not(:where([class~=not-prose],[class~=not-prose] *)) {
    padding-inline-start:0}

.prose :where(tbody td:last-child,tfoot td:last-child):not(:where([class~=not-prose],[class~=not-prose] *)) {
    padding-inline-end:0}

.prose :where(figure):not(:where([class~=not-prose],[class~=not-prose] *)) {
    margin-bottom: 2em;
    margin-top: 2em
}

.prose :where(.prose>:first-child):not(:where([class~=not-prose],[class~=not-prose] *)) {
    margin-top: 0
}

.prose :where(.prose>:last-child):not(:where([class~=not-prose],[class~=not-prose] *)) {
    margin-bottom: 0
}

.prose :where(h1,h2,h3,h4):not(:where([class~=not-prose],[class~=not-prose] *)) {
    font-weight: 700;
    scroll-margin-top: var(--scroll-mt)
}

.prose :where(h1 a,h2 a,h3 a,h4 a):not(:where([class~=not-prose],[class~=not-prose] *)) {
    border-bottom: none!important;
    color: inherit;
    font-weight: inherit
}

.prose :where(a:hover):not(:where([class~=not-prose],[class~=not-prose] *)) {
    border-color: var(--tw-prose-links);
}

.prose :where(a:has(>code)):not(:where([class~=not-prose],[class~=not-prose] *)) {
    border-color: #0000!important
}

.prose :where(a:hover code):not(:where([class~=not-prose],[class~=not-prose] *)) {
    border-color: var(--tw-prose-links);
    color: var(--tw-prose-links)
}

.prose :where(input[type=checkbox]):not(:where([class~=not-prose],[class~=not-prose] *)) {
    border-color: rgb(var(--color-gray-300));
    border-radius: .25rem;
    color: rgb(var(--color-primary-500));
    height: 1rem;
    margin-bottom: 0!important;
    margin-top: -3.5px!important;
    width: 1rem
}

.prose :where(input[type=checkbox]):not(:where([class~=not-prose],[class~=not-prose] *)):focus {
    --tw-ring-offset-width: 0
}

.prose :where(input[type=checkbox]:checked):not(:where([class~=not-prose],[class~=not-prose] *)) {
    border-color: rgb(var(--color-primary-500))
}

.prose :where(input[type=checkbox]:disabled):not(:where([class~=not-prose],[class~=not-prose] *)) {
    cursor: not-allowed;
    opacity: .5
}

.prose :where(ul.contains-task-list):not(:where([class~=not-prose],[class~=not-prose] *)) {
    margin-left: -1.625em
}

.prose :where(ul ul):not(:where([class~=not-prose],[class~=not-prose] *)) {
    padding-left: 1.5rem
}

.prose :where(ul ol):not(:where([class~=not-prose],[class~=not-prose] *)) {
    padding-left: 1.5rem
}

.prose :where(ul>li.task-list-item):not(:where([class~=not-prose],[class~=not-prose] *)) {
    padding-left: 0!important
}

.prose :where(ul>li.task-list-item input):not(:where([class~=not-prose],[class~=not-prose] *)) {
    margin-right: 7px
}

.prose :where(ul>li.task-list-item>ul.contains-task-list):not(:where([class~=not-prose],[class~=not-prose] *)) {
    margin-left: 0
}

.prose :where(ul>li.task-list-item a):not(:where([class~=not-prose],[class~=not-prose] *)) {
    margin-bottom: 0
}

.prose :where(ul>li.task-list-item):not(:where([class~=not-prose],[class~=not-prose] *))::marker {
    content: none
}

.prose :where(ul>li>p):not(:where([class~=not-prose],[class~=not-prose] *)) {
    margin: 0
}

.prose :where(ul>li>span.issue-badge,p>span.issue-badge):not(:where([class~=not-prose],[class~=not-prose] *)) {
    margin: 0!important;
    vertical-align: text-top
}

.prose :where(ul>li>button):not(:where([class~=not-prose],[class~=not-prose] *)) {
    vertical-align: initial!important
}

.prose :where(table code):not(:where([class~=not-prose],[class~=not-prose] *)) {
    display: inline-flex
}

.prose-lg {
    font-size: 1.125rem;
    line-height: 1.7777778
}

.prose-lg :where(p):not(:where([class~=not-prose],[class~=not-prose] *)) {
    margin-bottom: 1.3333333em;
    margin-top: 1.3333333em
}

.prose-lg :where([class~=lead]):not(:where([class~=not-prose],[class~=not-prose] *)) {
    font-size: 1.2222222em;
    line-height: 1.4545455;
    margin-bottom: 1.0909091em;
    margin-top: 1.0909091em
}

.prose-lg :where(blockquote):not(:where([class~=not-prose],[class~=not-prose] *)) {
    margin-bottom: 1.6666667em;
    margin-top: 1.6666667em;
    padding-inline-start:1em}

.prose-lg :where(h1):not(:where([class~=not-prose],[class~=not-prose] *)) {
    font-size: 2.6666667em;
    line-height: 1;
    margin-bottom: .8333333em;
    margin-top: 0
}

.prose-lg :where(h2):not(:where([class~=not-prose],[class~=not-prose] *)) {
    font-size: 1.6666667em;
    line-height: 1.3333333;
    margin-bottom: 1.0666667em;
    margin-top: 1.8666667em
}

.prose-lg :where(h3):not(:where([class~=not-prose],[class~=not-prose] *)) {
    font-size: 1.3333333em;
    line-height: 1.5;
    margin-bottom: .6666667em;
    margin-top: 1.6666667em
}

.prose-lg :where(h4):not(:where([class~=not-prose],[class~=not-prose] *)) {
    line-height: 1.5555556;
    margin-bottom: .4444444em;
    margin-top: 1.7777778em
}

.prose-lg :where(img):not(:where([class~=not-prose],[class~=not-prose] *)) {
    margin-bottom: 1.7777778em;
    margin-top: 1.7777778em
}

.prose-lg :where(picture):not(:where([class~=not-prose],[class~=not-prose] *)) {
    margin-bottom: 1.7777778em;
    margin-top: 1.7777778em
}

.prose-lg :where(picture>img):not(:where([class~=not-prose],[class~=not-prose] *)) {
    margin-bottom: 0;
    margin-top: 0
}

.prose-lg :where(video):not(:where([class~=not-prose],[class~=not-prose] *)) {
    margin-bottom: 1.7777778em;
    margin-top: 1.7777778em
}

.prose-lg :where(kbd):not(:where([class~=not-prose],[class~=not-prose] *)) {
    border-radius: .3125rem;
    font-size: .8888889em;
    padding-inline-end:.4444444em;padding-bottom: .2222222em;
    padding-top: .2222222em;
    padding-inline-start:.4444444em}

.prose-lg :where(code):not(:where([class~=not-prose],[class~=not-prose] *)) {
    font-size: .8888889em
}

.prose-lg :where(h2 code):not(:where([class~=not-prose],[class~=not-prose] *)) {
    font-size: .8666667em
}

.prose-lg :where(h3 code):not(:where([class~=not-prose],[class~=not-prose] *)) {
    font-size: .875em
}

.prose-lg :where(pre):not(:where([class~=not-prose],[class~=not-prose] *)) {
    border-radius: .375rem;
    font-size: .8888889em;
    line-height: 1.75;
    margin-bottom: 2em;
    margin-top: 2em;
    padding-inline-end:1.5em;padding-bottom: 1em;
    padding-top: 1em;
    padding-inline-start:1.5em}

.prose-lg :where(ol):not(:where([class~=not-prose],[class~=not-prose] *)) {
    margin-bottom: 1.3333333em;
    margin-top: 1.3333333em;
    padding-inline-start:1.5555556em}

.prose-lg :where(ul):not(:where([class~=not-prose],[class~=not-prose] *)) {
    margin-bottom: 1.3333333em;
    margin-top: 1.3333333em;
    padding-inline-start:1.5555556em}

.prose-lg :where(li):not(:where([class~=not-prose],[class~=not-prose] *)) {
    margin-bottom: .6666667em;
    margin-top: .6666667em
}

.prose-lg :where(ol>li):not(:where([class~=not-prose],[class~=not-prose] *)) {
    padding-inline-start:.4444444em}

.prose-lg :where(ul>li):not(:where([class~=not-prose],[class~=not-prose] *)) {
    padding-inline-start:.4444444em}

.prose-lg :where(.prose-lg>ul>li p):not(:where([class~=not-prose],[class~=not-prose] *)) {
    margin-bottom: .8888889em;
    margin-top: .8888889em
}

.prose-lg :where(.prose-lg>ul>li>p:first-child):not(:where([class~=not-prose],[class~=not-prose] *)) {
    margin-top: 1.3333333em
}

.prose-lg :where(.prose-lg>ul>li>p:last-child):not(:where([class~=not-prose],[class~=not-prose] *)) {
    margin-bottom: 1.3333333em
}

.prose-lg :where(.prose-lg>ol>li>p:first-child):not(:where([class~=not-prose],[class~=not-prose] *)) {
    margin-top: 1.3333333em
}

.prose-lg :where(.prose-lg>ol>li>p:last-child):not(:where([class~=not-prose],[class~=not-prose] *)) {
    margin-bottom: 1.3333333em
}

.prose-lg :where(ul ul,ul ol,ol ul,ol ol):not(:where([class~=not-prose],[class~=not-prose] *)) {
    margin-bottom: .8888889em;
    margin-top: .8888889em
}

.prose-lg :where(dl):not(:where([class~=not-prose],[class~=not-prose] *)) {
    margin-bottom: 1.3333333em;
    margin-top: 1.3333333em
}

.prose-lg :where(dt):not(:where([class~=not-prose],[class~=not-prose] *)) {
    margin-top: 1.3333333em
}

.prose-lg :where(dd):not(:where([class~=not-prose],[class~=not-prose] *)) {
    margin-top: .6666667em;
    padding-inline-start:1.5555556em}

.prose-lg :where(hr):not(:where([class~=not-prose],[class~=not-prose] *)) {
    margin-bottom: 3.1111111em;
    margin-top: 3.1111111em
}

.prose-lg :where(hr+*):not(:where([class~=not-prose],[class~=not-prose] *)) {
    margin-top: 0
}

.prose-lg :where(h2+*):not(:where([class~=not-prose],[class~=not-prose] *)) {
    margin-top: 0
}

.prose-lg :where(h3+*):not(:where([class~=not-prose],[class~=not-prose] *)) {
    margin-top: 0
}

.prose-lg :where(h4+*):not(:where([class~=not-prose],[class~=not-prose] *)) {
    margin-top: 0
}

.prose-lg :where(table):not(:where([class~=not-prose],[class~=not-prose] *)) {
    font-size: .8888889em;
    line-height: 1.5
}

.prose-lg :where(thead th):not(:where([class~=not-prose],[class~=not-prose] *)) {
    padding-inline-end:.75em;padding-bottom: .75em;
    padding-inline-start:.75em}

.prose-lg :where(thead th:first-child):not(:where([class~=not-prose],[class~=not-prose] *)) {
    padding-inline-start:0}

.prose-lg :where(thead th:last-child):not(:where([class~=not-prose],[class~=not-prose] *)) {
    padding-inline-end:0}

.prose-lg :where(tbody td,tfoot td):not(:where([class~=not-prose],[class~=not-prose] *)) {
    padding-inline-end:.75em;padding-bottom: .75em;
    padding-top: .75em;
    padding-inline-start:.75em}

.prose-lg :where(tbody td:first-child,tfoot td:first-child):not(:where([class~=not-prose],[class~=not-prose] *)) {
    padding-inline-start:0}

.prose-lg :where(tbody td:last-child,tfoot td:last-child):not(:where([class~=not-prose],[class~=not-prose] *)) {
    padding-inline-end:0}

.prose-lg :where(figure):not(:where([class~=not-prose],[class~=not-prose] *)) {
    margin-bottom: 1.7777778em;
    margin-top: 1.7777778em
}

.prose-lg :where(figure>*):not(:where([class~=not-prose],[class~=not-prose] *)) {
    margin-bottom: 0;
    margin-top: 0
}

.prose-lg :where(figcaption):not(:where([class~=not-prose],[class~=not-prose] *)) {
    font-size: .8888889em;
    line-height: 1.5;
    margin-top: 1em
}

.prose-lg :where(.prose-lg>:first-child):not(:where([class~=not-prose],[class~=not-prose] *)) {
    margin-top: 0
}

.prose-lg :where(.prose-lg>:last-child):not(:where([class~=not-prose],[class~=not-prose] *)) {
    margin-bottom: 0
}

.prose-primary {
    --tw-prose-body: rgb(var(--color-gray-700));
    --tw-prose-headings: rgb(var(--color-gray-900));
    --tw-prose-lead: rgb(var(--color-gray-600));
    --tw-prose-links: rgb(var(--color-primary-500));
    --tw-prose-bold: rgb(var(--color-gray-900));
    --tw-prose-counters: rgb(var(--color-gray-500));
    --tw-prose-bullets: rgb(var(--color-gray-300));
    --tw-prose-hr: rgb(var(--color-gray-200));
    --tw-prose-quotes: rgb(var(--color-gray-900));
    --tw-prose-quote-borders: rgb(var(--color-gray-200));
    --tw-prose-captions: rgb(var(--color-gray-500));
    --tw-prose-code: rgb(var(--color-gray-900));
    --tw-prose-pre-code: rgb(var(--color-gray-900));
    --tw-prose-pre-bg: rgb(var(--color-gray-50));
    --tw-prose-pre-border: rgb(var(--color-gray-200));
    --tw-prose-th-borders: rgb(var(--color-gray-300));
    --tw-prose-td-borders: rgb(var(--color-gray-200));
    --tw-prose-invert-body: rgb(var(--color-gray-200));
    --tw-prose-invert-headings: #fff;
    --tw-prose-invert-lead: rgb(var(--color-gray-400));
    --tw-prose-invert-links: rgb(var(--color-primary-400));
    --tw-prose-invert-bold: #fff;
    --tw-prose-invert-counters: rgb(var(--color-gray-400));
    --tw-prose-invert-bullets: rgb(var(--color-gray-600));
    --tw-prose-invert-hr: rgb(var(--color-gray-800));
    --tw-prose-invert-quotes: rgb(var(--color-gray-100));
    --tw-prose-invert-quote-borders: rgb(var(--color-gray-700));
    --tw-prose-invert-captions: rgb(var(--color-gray-400));
    --tw-prose-invert-code: #fff;
    --tw-prose-invert-pre-code: #fff;
    --tw-prose-invert-pre-bg: rgb(var(--color-gray-800));
    --tw-prose-invert-pre-border: rgb(var(--color-gray-700));
    --tw-prose-invert-th-borders: rgb(var(--color-gray-700));
    --tw-prose-invert-td-borders: rgb(var(--color-gray-800))
}




.\!text-foreground {
    --tw-text-opacity: 1!important;
    color: rgb(var(--ui-foreground)/var(--tw-text-opacity))!important
}

.text-\[\#00DC82\] {
    --tw-text-opacity: 1;
    color: rgb(0 220 130/var(--tw-text-opacity))
}

.text-\[\#E4E4E7\] {
    --tw-text-opacity: 1;
    color: rgb(228 228 231/var(--tw-text-opacity))
}

.text-\[--color-light\] {
    color: var(--color-light)
}

.text-amber-400 {
    --tw-text-opacity: 1;
    color: rgb(251 191 36/var(--tw-text-opacity))
}

.text-amber-500 {
    --tw-text-opacity: 1;
    color: rgb(245 158 11/var(--tw-text-opacity))
}

.text-background {
    --tw-text-opacity: 1;
    color: rgb(var(--ui-background)/var(--tw-text-opacity))
}

.text-black {
    --tw-text-opacity: 1;
    color: rgb(0 0 0/var(--tw-text-opacity))
}

.text-blue-400 {
    --tw-text-opacity: 1;
    color: rgb(96 165 250/var(--tw-text-opacity))
}

.text-blue-500 {
    --tw-text-opacity: 1;
    color: rgb(59 130 246/var(--tw-text-opacity))
}

.text-cyan-400 {
    --tw-text-opacity: 1;
    color: rgb(34 211 238/var(--tw-text-opacity))
}

.text-cyan-500 {
    --tw-text-opacity: 1;
    color: rgb(6 182 212/var(--tw-text-opacity))
}

.text-emerald-400 {
    --tw-text-opacity: 1;
    color: rgb(52 211 153/var(--tw-text-opacity))
}

.text-emerald-500 {
    --tw-text-opacity: 1;
    color: rgb(16 185 129/var(--tw-text-opacity))
}

.text-fuchsia-400 {
    --tw-text-opacity: 1;
    color: rgb(232 121 249/var(--tw-text-opacity))
}

.text-fuchsia-500 {
    --tw-text-opacity: 1;
    color: rgb(217 70 239/var(--tw-text-opacity))
}

.text-green-400 {
    --tw-text-opacity: 1;
    color: rgb(0 220 130/var(--tw-text-opacity))
}

.text-green-500 {
    --tw-text-opacity: 1;
    color: rgb(0 193 106/var(--tw-text-opacity))
}

.text-indigo-400 {
    --tw-text-opacity: 1;
    color: rgb(129 140 248/var(--tw-text-opacity))
}

.text-indigo-500 {
    --tw-text-opacity: 1;
    color: rgb(99 102 241/var(--tw-text-opacity))
}

.text-inherit {
    color: inherit
}

.text-lime-400 {
    --tw-text-opacity: 1;
    color: rgb(163 230 53/var(--tw-text-opacity))
}

.text-lime-500 {
    --tw-text-opacity: 1;
    color: rgb(132 204 22/var(--tw-text-opacity))
}

.text-orange-400 {
    --tw-text-opacity: 1;
    color: rgb(251 146 60/var(--tw-text-opacity))
}

.text-orange-500 {
    --tw-text-opacity: 1;
    color: rgb(249 115 22/var(--tw-text-opacity))
}

.text-pink-400 {
    --tw-text-opacity: 1;
    color: rgb(244 114 182/var(--tw-text-opacity))
}

.text-pink-500 {
    --tw-text-opacity: 1;
    color: rgb(236 72 153/var(--tw-text-opacity))
}

.text-primary {
    --tw-text-opacity: 1;
    color: rgb(var(--color-primary-DEFAULT)/var(--tw-text-opacity))
}

.text-primary-400 {
    --tw-text-opacity: 1;
    color: rgb(var(--color-primary-400)/var(--tw-text-opacity))
}

.text-primary-500 {
    --tw-text-opacity: 1;
    color: rgb(var(--color-primary-500)/var(--tw-text-opacity))
}

.text-primary-600 {
    --tw-text-opacity: 1;
    color: rgb(var(--color-primary-600)/var(--tw-text-opacity))
}

.text-purple-400 {
    --tw-text-opacity: 1;
    color: rgb(192 132 252/var(--tw-text-opacity))
}

.text-purple-500 {
    --tw-text-opacity: 1;
    color: rgb(168 85 247/var(--tw-text-opacity))
}

.text-red-400 {
    --tw-text-opacity: 1;
    color: rgb(248 113 113/var(--tw-text-opacity))
}

.text-red-500 {
    --tw-text-opacity: 1;
    color: rgb(239 68 68/var(--tw-text-opacity))
}

.text-red-600 {
    --tw-text-opacity: 1;
    color: rgb(220 38 38/var(--tw-text-opacity))
}

.text-rose-400 {
    --tw-text-opacity: 1;
    color: rgb(251 113 133/var(--tw-text-opacity))
}

.text-rose-500 {
    --tw-text-opacity: 1;
    color: rgb(244 63 94/var(--tw-text-opacity))
}

.text-sky-400 {
    --tw-text-opacity: 1;
    color: rgb(56 189 248/var(--tw-text-opacity))
}

.text-sky-500 {
    --tw-text-opacity: 1;
    color: rgb(14 165 233/var(--tw-text-opacity))
}

.text-teal-400 {
    --tw-text-opacity: 1;
    color: rgb(45 212 191/var(--tw-text-opacity))
}

.text-teal-500 {
    --tw-text-opacity: 1;
    color: rgb(20 184 166/var(--tw-text-opacity))
}

.text-violet-400 {
    --tw-text-opacity: 1;
    color: rgb(167 139 250/var(--tw-text-opacity))
}

.text-left {
    text-align: left
}

.text-center {
    text-align: center
}

.text-right {
    text-align: right
}

.text-end {
    text-align: end
}

.align-middle {
    vertical-align: middle
}

.align-text-top {
    vertical-align: text-top
}

.align-sub {
    vertical-align: sub;
}

.font-mono {
    font-family: ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace
}

.font-sans {
    font-family: Public Sans, "Public Sans Fallback: Arial",ui-sans-serif,system-ui,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji
}

.text-2xl {
    font-size: 1.5rem;
    line-height: 2rem
}

.text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem
}

.text-5xl {
    font-size: 3rem;
    line-height: 1
}

.text-\[10px\] {
    font-size: 10px
}

.text-\[11px\] {
    font-size: 11px
}

.text-\[12px\] {
    font-size: 12px
}

.text-\[14px\] {
    font-size: 14px
}

.text-\[15px\] {
    font-size: 15px
}

.text-\[24px\] {
    font-size: 24px
}

.text-\[32px\] {
    font-size: 32px
}

.text-\[4px\] {
    font-size: 4px
}

.text-\[5px\] {
    font-size: 5px
}

.text-\[6px\] {
    font-size: 6px
}

.text-\[75px\] {
    font-size: 75px
}

.text-\[7px\] {
    font-size: 7px
}

.text-\[8px\] {
    font-size: 8px
}

.text-base {
    font-size: 1rem;
    line-height: 1.5rem
}

.text-base\/7 {
    font-size: 1rem;
    line-height: 1.75rem
}

.text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem
}

.text-lg\/8 {
    font-size: 1.125rem;
    line-height: 2rem
}

.text-sm {
    font-size: .875rem;
    line-height: 1.25rem
}

.text-sm\/6 {
    font-size: .875rem;
    line-height: 1.5rem
}

.h-\[--header-height\] {
    height: var(--header-height)
}

.mt-\[--header-height\] {
    margin-top: var(--header-height)
}

.frame-1-5rem {
    width: 1.5rem;
    height: 1.5rem;
}

.font-small {
    font-size: .64rem;
}

.font-small-medium {
    font-size: .84rem;
}

.font-large-medium {
    font-size: 1.2rem;
}



.\!p-4 {
    padding: 1rem!important
}

.p-0 {
    padding: 0
}

.p-0\.5 {
    padding: .125rem
}

.p-1 {
    padding: .25rem
}

.p-1\.5 {
    padding: .375rem
}

.p-11 {
    padding: 2.75rem
}

.p-16 {
    padding: 4rem
}

.p-2 {
    padding: .5rem
}

.p-2\.5 {
    padding: .625rem
}

.p-3 {
    padding: .75rem
}

.p-4 {
    padding: 1rem
}

.p-5 {
    padding: 1.25rem
}

.p-6 {
    padding: 1.5rem
}

.p-8 {
    padding: 2rem
}

.p-px {
    padding: 1px
}

.\!py-6 {
    padding-bottom: 1.5rem!important;
    padding-top: 1.5rem!important
}

.px-1 {
    padding-left: .25rem;
    padding-right: .25rem
}

.px-1\.5 {
    padding-left: .375rem;
    padding-right: .375rem
}

.px-2 {
    padding-left: .5rem;
    padding-right: .5rem
}

.px-2\.5 {
    padding-left: .625rem;
    padding-right: .625rem
}

.px-3 {
    padding-left: .75rem;
    padding-right: .75rem
}

.px-3\.5 {
    padding-left: .875rem;
    padding-right: .875rem
}

.px-4 {
    padding-left: 1rem;
    padding-right: 1rem
}

.px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem
}

.py-0\.5 {
    padding-bottom: .125rem;
    padding-top: .125rem
}

.py-1 {
    padding-bottom: .25rem;
    padding-top: .25rem
}

.py-1\.5 {
    padding-bottom: .375rem;
    padding-top: .375rem
}

.py-12 {
    padding-bottom: 3rem;
    padding-top: 3rem
}

.py-14 {
    padding-bottom: 3.5rem;
    padding-top: 3.5rem
}

.py-2 {
    padding-bottom: .5rem;
    padding-top: .5rem
}

.py-2\.5 {
    padding-bottom: .625rem;
    padding-top: .625rem
}

.py-24 {
    padding-bottom: 6rem;
    padding-top: 6rem
}

.py-3 {
    padding-bottom: .75rem;
    padding-top: .75rem
}

.py-3\.5 {
    padding-bottom: .875rem;
    padding-top: .875rem
}

.py-4 {
    padding-bottom: 1rem;
    padding-top: 1rem
}

.py-5 {
    padding-bottom: 1.25rem;
    padding-top: 1.25rem
}

.py-6 {
    padding-bottom: 1.5rem;
    padding-top: 1.5rem
}

.py-8 {
    padding-bottom: 2rem;
    padding-top: 2rem
}

.pb-0 {
    padding-bottom: 0
}

.pb-1 {
    padding-bottom: .25rem
}

.pb-10 {
    padding-bottom: 2.5rem
}

.pb-2 {
    padding-bottom: .5rem
}

.pb-24 {
    padding-bottom: 6rem
}

.pb-3 {
    padding-bottom: .75rem
}

.pb-4 {
    padding-bottom: 1rem
}

.pb-6 {
    padding-bottom: 1.5rem
}

.pe-10 {
    padding-inline-end:2.5rem}

.pe-11 {
    padding-inline-end:2.75rem}

.pe-12 {
    padding-inline-end:3rem}

.pe-2 {
    padding-inline-end:.5rem}

.pe-7 {
    padding-inline-end:1.75rem}

.pe-8 {
    padding-inline-end:2rem}

.pe-9 {
    padding-inline-end:2.25rem}

.pl-3\.5 {
    padding-left: .875rem
}

.pl-4 {
    padding-left: 1rem
}

.pl-8 {
    padding-left: 2rem
}

.pl-\[100px\] {
    padding-left: 100px
}

.pr-2 {
    padding-right: .5rem
}

.pr-3 {
    padding-right: .75rem
}

.pr-4 {
    padding-right: 1rem
}

.pr-6 {
    padding-right: 1.5rem
}

.ps-10 {
    padding-inline-start:2.5rem}

.ps-11 {
    padding-inline-start:2.75rem}

.ps-12 {
    padding-inline-start:3rem}

.ps-4 {
    padding-inline-start:1rem}

.ps-7 {
    padding-inline-start:1.75rem}

.ps-8 {
    padding-inline-start:2rem}

.ps-9 {
    padding-inline-start:2.25rem}

.pt-0 {
    padding-top: 0
}

.pt-1 {
    padding-top: .25rem
}

.pt-1\.5 {
    padding-top: .375rem
}

.pt-12 {
    padding-top: 3rem
}

.pt-2 {
    padding-top: .5rem
}

.pt-20 {
    padding-top: 5rem
}

.pt-3 {
    padding-top: .75rem
}

.pt-6 {
    padding-top: 1.5rem
}

.pt-8 {
    padding-top: 2rem
}

.pt-\[100\%\] {
    padding-top: 100%
}


.w-max {
    width: max-content;
}

.max-w-none {
    max-width: none;
}

.-m-1\.5 {
    margin: -.375rem
}

.-m-\[4px\] {
    margin: -4px
}

.m-0 {
    margin: 0
}

.m-auto {
    margin: auto
}

.\!my-0 {
    margin-bottom: 0!important;
    margin-top: 0!important
}

.-mx-1 {
    margin-left: -.25rem;
    margin-right: -.25rem
}

.-mx-2\.5 {
    margin-left: -.625rem;
    margin-right: -.625rem
}

.-mx-4 {
    margin-left: -1rem;
    margin-right: -1rem
}

.-my-1 {
    margin-bottom: -.25rem;
    margin-top: -.25rem
}

.-my-1\.5 {
    margin-bottom: -.375rem;
    margin-top: -.375rem
}

.mx-1 {
    margin-left: .25rem;
    margin-right: .25rem
}

.mx-2\.5 {
    margin-left: .625rem;
    margin-right: .625rem
}

.mx-3 {
    margin-left: .75rem;
    margin-right: .75rem
}

.mx-\[9\.5px\] {
    margin-left: 9.5px;
    margin-right: 9.5px
}

.mx-auto {
    margin-left: auto;
    margin-right: auto
}

.my-0 {
    margin-bottom: 0;
    margin-top: 0
}

.my-2 {
    margin-bottom: .5rem;
    margin-top: .5rem
}

.my-5 {
    margin-bottom: 1.25rem;
    margin-top: 1.25rem
}

.my-6 {
    margin-bottom: 1.5rem;
    margin-top: 1.5rem
}

.my-8 {
    margin-bottom: 2rem;
    margin-top: 2rem
}

.my-auto {
    margin-bottom: auto;
    margin-top: auto
}

.\!mt-6 {
    margin-top: 1.5rem!important
}

.-mb-\[2px\] {
    margin-bottom: -2px
}

.-mb-px {
    margin-bottom: -1px
}

.-me-1\.5 {
    margin-inline-end:-.375rem}

.-ml-1\.5 {
    margin-left: -.375rem
}

.-ml-6 {
    margin-left: -1.5rem
}

.-ml-px {
    margin-left: -1px
}

.-mt-1 {
    margin-top: -.25rem
}

.-mt-12 {
    margin-top: -3rem
}

.-mt-20 {
    margin-top: -5rem
}

.-mt-4 {
    margin-top: -1rem
}

.-mt-6 {
    margin-top: -1.5rem
}

.-mt-8 {
    margin-top: -2rem
}

.mb-0 {
    margin-bottom: 0
}

.mb-1 {
    margin-bottom: .25rem
}

.mb-1\.5 {
    margin-bottom: .375rem
}

.mb-10 {
    margin-bottom: 2.5rem
}

.mb-2 {
    margin-bottom: .5rem
}

.mb-3 {
    margin-bottom: .75rem
}

.mb-4 {
    margin-bottom: 1rem
}

.mb-5 {
    margin-bottom: 1.25rem
}

.mb-6 {
    margin-bottom: 1.5rem
}

.mb-8 {
    margin-bottom: 2rem
}

.ml-1 {
    margin-left: .25rem
}

.ml-12 {
    margin-left: 3rem
}

.ml-2 {
    margin-left: .5rem
}

.ml-2\.5 {
    margin-left: .625rem
}

.ml-3 {
    margin-left: .75rem
}

.ml-6 {
    margin-left: 1.5rem
}

.ml-auto {
    margin-left: auto
}

.mr-1 {
    margin-right: .25rem
}

.mr-1\.5 {
    margin-right: .375rem
}

.mr-2 {
    margin-right: .5rem
}

.ms-3 {
    margin-inline-start:.75rem}

.ms-auto {
    margin-inline-start:auto}

.mt-0 {
    margin-top: 0
}

.mt-1 {
    margin-top: .25rem
}

.mt-10 {
    margin-top: 2.5rem
}

.mt-12 {
    margin-top: 3rem
}

.mt-2 {
    margin-top: .5rem
}

.mt-3 {
    margin-top: .75rem
}

.mt-4 {
    margin-top: 1rem
}

.mt-5 {
    margin-top: 1.25rem
}

.mt-6 {
    margin-top: 1.5rem
}

.mt-8 {
    margin-top: 2rem
}

.-bottom-1 {
    bottom: -.25rem
}

.-bottom-4 {
    bottom: -1rem
}

.-bottom-\[0\.5px\] {
    bottom: -.5px
}

.-left-1 {
    left: -.25rem
}

.-left-\[64px\] {
    left: -64px
}

.-right-1 {
    right: -.25rem
}

.-right-3\.5 {
    right: -.875rem
}

.-right-\[5px\] {
    right: -5px
}

.-top-1 {
    top: -.25rem
}

.-top-10 {
    top: -2.5rem
}

.-top-12 {
    top: -3rem
}

.-top-8 {
    top: -2rem
}

.-top-\[--header-height\] {
    top: calc(var(--header-height)*-1)
}

.-top-\[5px\] {
    top: -5px
}

.bottom-0 {
    bottom: 0
}

.bottom-4 {
    bottom: 1rem
}

.end-0 {
    inset-inline-end: 0
}

.end-4 {
    inset-inline-end: 1rem
}

.left-0 {
    left: 0
}

.left-1\/2 {
    left: 50%
}

.left-4 {
    left: 1rem
}

.left-\[4px\] {
    left: 4px
}

.right-0 {
    right: 0
}

.right-2 {
    right: .5rem
}

.right-2\.5 {
    right: .625rem
}

.right-4 {
    right: 1rem
}

.right-6 {
    right: 1.5rem
}

.right-\[90px\] {
    right: 90px
}

.start-0 {
    inset-inline-start: 0
}

.start-4 {
    inset-inline-start: 1rem
}

.top-0 {
    top: 0
}

.top-0\.5 {
    top: .125rem
}

.top-1 {
    top: .25rem
}

.top-1\/2 {
    top: 50%
}

.top-2 {
    top: .5rem
}

.top-2\.5 {
    top: .625rem
}

.top-6 {
    top: 1.5rem
}

.top-\[--header-height\] {
    top: var(--header-height)
}

.top-\[160px\] {
    top: 160px
}

.top-\[1px\] {
    top: 1px
}

.top-\[4px\] {
    top: 4px
}

.top-\[68px\] {
    top: 68px
}

.isolate {
    isolation: isolate
}


.order-first {
    order: -9999
}

.order-last {
    order: 9999
}

.col-start-1 {
    grid-column-start: 1
}

.row-start-1 {
    grid-row-start: 1
}

.opacity-0 {
    opacity: 0;
}

.opacity-100 {
    opacity: 1
}

.opacity-30 {
    opacity: .3
}

.opacity-50 {
    opacity: .5
}

.opacity-70 {
    opacity: .7
}

.opacity-80 {
    opacity: .8
}

.opacity-90 {
    opacity: .9
}


.scroll-smooth {
    scroll-behavior: smooth
}

.truncate {
    overflow: hidden;
    text-overflow: ellipsis
}

.truncate,.whitespace-nowrap {
    white-space: nowrap
}

.break-all {
    word-break: break-all
}

.rounded {
    border-radius: .25rem
}

.rounded-2xl {
    border-radius: 1rem
}

.rounded-3xl {
    border-radius: 1.5rem
}

.rounded-full {
    border-radius: 9999px
}

.rounded-lg {
    border-radius: .5rem
}

.rounded-md {
    border-radius: .375rem
}

.rounded-none {
    border-radius: 0
}

.rounded-sm {
    border-radius: .125rem
}

.rounded-xl {
    border-radius: .75rem
}

.rounded-b {
    border-bottom-left-radius: .25rem;
    border-bottom-right-radius: .25rem
}

.rounded-b-2xl {
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem
}

.rounded-b-3xl {
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem
}

.rounded-b-full {
    border-bottom-left-radius: 9999px;
    border-bottom-right-radius: 9999px
}

.rounded-b-lg {
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem
}

.rounded-b-md {
    border-bottom-left-radius: .375rem;
    border-bottom-right-radius: .375rem
}

.rounded-b-none {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0
}

.rounded-b-sm {
    border-bottom-left-radius: .125rem;
    border-bottom-right-radius: .125rem
}

.rounded-b-xl {
    border-bottom-left-radius: .75rem;
    border-bottom-right-radius: .75rem
}

.rounded-e {
    border-end-end-radius: .25rem;
    border-start-end-radius: .25rem
}

.rounded-e-2xl {
    border-end-end-radius: 1rem;
    border-start-end-radius: 1rem
}

.rounded-e-3xl {
    border-end-end-radius: 1.5rem;
    border-start-end-radius: 1.5rem
}

.rounded-e-full {
    border-end-end-radius: 9999px;
    border-start-end-radius: 9999px
}

.rounded-e-lg {
    border-end-end-radius: .5rem;
    border-start-end-radius: .5rem
}

.rounded-e-md {
    border-end-end-radius: .375rem;
    border-start-end-radius: .375rem
}

.rounded-e-none {
    border-end-end-radius: 0;
    border-start-end-radius: 0
}

.rounded-e-sm {
    border-end-end-radius: .125rem;
    border-start-end-radius: .125rem
}

.rounded-e-xl {
    border-end-end-radius: .75rem;
    border-start-end-radius: .75rem
}

.rounded-s {
    border-end-start-radius: .25rem;
    border-start-start-radius: .25rem
}

.rounded-s-2xl {
    border-end-start-radius: 1rem;
    border-start-start-radius: 1rem
}

.rounded-s-3xl {
    border-end-start-radius: 1.5rem;
    border-start-start-radius: 1.5rem
}

.rounded-s-full {
    border-end-start-radius: 9999px;
    border-start-start-radius: 9999px
}

.rounded-s-lg {
    border-end-start-radius: .5rem;
    border-start-start-radius: .5rem
}

.rounded-s-md {
    border-end-start-radius: .375rem;
    border-start-start-radius: .375rem
}

.rounded-s-none {
    border-end-start-radius: 0;
    border-start-start-radius: 0
}

.rounded-s-sm {
    border-end-start-radius: .125rem;
    border-start-start-radius: .125rem
}

.rounded-s-xl {
    border-end-start-radius: .75rem;
    border-start-start-radius: .75rem
}

.rounded-t {
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem
}

.rounded-t-2xl {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem
}

.rounded-t-3xl {
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem
}

.rounded-t-full {
    border-top-left-radius: 9999px;
    border-top-right-radius: 9999px
}

.rounded-t-lg {
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem
}

.rounded-t-md {
    border-top-left-radius: .375rem;
    border-top-right-radius: .375rem
}

.rounded-t-none {
    border-top-left-radius: 0;
    border-top-right-radius: 0
}

.rounded-t-sm {
    border-top-left-radius: .125rem;
    border-top-right-radius: .125rem
}

.rounded-t-xl {
    border-top-left-radius: .75rem;
    border-top-right-radius: .75rem
}

.rounded-tl-none {
    border-top-left-radius: 0
}

.rounded-tr-none {
    border-top-right-radius: 0
}

.border {
    border-width: 1px
}

.border-0 {
    border-width: 0
}

.border-2 {
    border-width: 2px
}

.border-b {
    border-bottom-width: 1px
}

.border-b-0 {
    border-bottom-width: 0
}

.border-l {
    border-left-width: 1px
}

.border-s {
    border-inline-start-width:1px}

.border-s-\[2px\] {
    border-inline-start-width:2px}

.border-s-\[3px\] {
    border-inline-start-width:3px}

.border-s-\[4px\] {
    border-inline-start-width:4px}

.border-s-\[5px\] {
    border-inline-start-width:5px}

.border-s-\[6px\] {
    border-inline-start-width:6px}

.border-t {
    border-top-width: 1px
}

.border-t-\[2px\] {
    border-top-width: 2px
}

.border-t-\[3px\] {
    border-top-width: 3px
}

.border-t-\[4px\] {
    border-top-width: 4px
}

.border-t-\[5px\] {
    border-top-width: 5px
}

.border-t-\[6px\] {
    border-top-width: 6px
}

.border-solid {
    border-style: solid
}

.border-dashed {
    border-style: dashed
}

.border-dotted {
    border-style: dotted
}

.border-none {
    border-style: none
}

::selection {
    background-color: rgb(var(--color-primary-DEFAULT) /.4);
}

.ring-primary {
    --tw-ring-opacity: 1;
    --tw-ring-color: rgb(var(--color-primary-DEFAULT)/var(--tw-ring-opacity))
}

.ring-primary-400 {
    --tw-ring-opacity: 1;
    --tw-ring-color: rgb(var(--color-primary-400)/var(--tw-ring-opacity))
}

.ring-primary-500 {
    --tw-ring-opacity: 1;
    --tw-ring-color: rgb(var(--color-primary-500)/var(--tw-ring-opacity))
}

.bg-primary {
    --tw-bg-opacity: 1;
    background-color: rgb(var(--color-primary-DEFAULT)/var(--tw-bg-opacity))
}

.bg-primary-100 {
    --tw-bg-opacity: 1;
    background-color: rgb(var(--color-primary-100)/var(--tw-bg-opacity))
}

.bg-primary-400 {
    --tw-bg-opacity: 1;
    background-color: rgb(var(--color-primary-400)/var(--tw-bg-opacity))
}

.bg-primary-50 {
    --tw-bg-opacity: 1;
    background-color: rgb(var(--color-primary-50)/var(--tw-bg-opacity))
}

.bg-primary-500 {
    --tw-bg-opacity: 1;
    background-color: rgb(var(--color-primary-500)/var(--tw-bg-opacity))
}

.bg-primary-600 {
    --tw-bg-opacity: 1;
    background-color: rgb(var(--color-primary-600)/var(--tw-bg-opacity))
}

.bg-primary-900 {
    --tw-bg-opacity: 1;
    background-color: rgb(var(--color-primary-900)/var(--tw-bg-opacity))
}

.bg-primary-950 {
    --tw-bg-opacity: 1;
    background-color: rgb(var(--color-primary-950)/var(--tw-bg-opacity))
}

.text-black-opacity6 {
    color: rgb(0, 0, 0, .6);
}


.duration-75 {
    transition-duration: 75ms
}

.duration-\[400ms\] {
    transition-duration: .4s
}


body {
    --tw-bg-opacity: 1;
    background-color: rgb(var(--ui-background)/var(--tw-bg-opacity,1));
    font-family: Public Sans, "Public Sans Fallback: Arial",ui-sans-serif,system-ui,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    --tw-text-opacity: 1;
    color: rgb(var(--ui-foreground)/var(--tw-text-opacity,1));
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}



@media (prefers-color-scheme: dark) {

    body {
        --tw-bg-opacity: 1;
        background-color: rgb(var(--ui-background)/var(--tw-bg-opacity));
        font-family: Inter, "Inter Fallback: Arial",ui-sans-serif,system-ui,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
        --tw-text-opacity: 1;
        color: rgb(var(--ui-foreground)/var(--tw-text-opacity));
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale
    }
    :root {
        --ui-background: var(--color-gray-950);
        --ui-foreground: var(--color-gray-200);
    }
}

.fall-fade-enter-active {
    animation: fall-fade-in .2s !important;
}

.fall-fade-leave-active {
    animation: fall-fade-in .2s reverse !important;
}

@keyframes fall-fade-in {
    0% {
        transform: scale(1.3);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}


.fade-enter-active {
    animation: fade-in .2s !important;
}

.fade-leave-active {
    animation: fade-in .2s reverse !important;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.page-enter-active,
.page-leave-active {
    transition: all 0.4s;
}
.page-enter-from,
.page-leave-to {
    opacity: 0;
    filter: blur(1rem);
}
